body {
  font-family: 'Ruda', sans-serif;
}

.purpleBar {
  background-color: rebeccapurple;
  padding-top: 10px;
}

.column-half {
  padding: 0;
}

.column-half:nth-of-type(2) {
  margin-top: 60px;
}

h1 {
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: white;
  padding: 30px;
}

img {
  width: 350px;
}

label {
  margin: 50px 0;
}

#title,
#photoUrl {
  border-color: rebeccapurple;
  font-size: 30px;
  width: 400px;
  height: 35px;
  margin-bottom: 40px;
}

#notes {
  font-size: 30px;
  border-radius: 5px;
  border-color: rebeccapurple;
  width: 830px;
  padding-bottom: 150px;
}

.save,
.new {
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  padding: 8px 14px;
  background-color: rebeccapurple;
  color: white;
  text-transform: uppercase;
}

.entriesDiv {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  margin: 10px;
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 0 40px 0;
  display: flex;
}

li img {
  margin-right: 50px;
}
