body {
  font-family: 'Ruda', sans-serif;
}

.purpleBar {
  background-color: rebeccapurple;
  padding-top: 10px;
}

h1 {
  color: white;
}

[data-view="entries"] h1 {
  padding: 0;
  margin: 0;
}

[data-view="entries"] .navBarEntries {
  padding-top: 40px;
  padding-left: 0;
}

.column-half {
  padding: 0;
}

.column-half:nth-of-type(2) {
  margin-top: 60px;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: white;
  padding: 30px;
}

img {
  width: 350px;
}

label {
  margin: 50px 0;
}

#title,
#photoUrl {
  border-color: rebeccapurple;
  font-size: 30px;
  width: 400px;
  height: 35px;
  margin-bottom: 40px;
}

#notes {
  font-size: 30px;
  border-radius: 5px;
  border-color: rebeccapurple;
  width: 830px;
  padding-bottom: 150px;
}

.deleteSaveDiv {
  display: flex;
  justify-content: space-between;
}

.deleteEntry {
  display: flex;
  align-items: flex-end;
  color: red;
}

.save {
  margin-right: 22px;
}

.save,
.new {
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  padding: 8px 14px;
  background-color: rebeccapurple;
  color: white;
  text-transform: uppercase;
}

.entriesDiv {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  margin: 10px;
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

li img {
  margin-right: 50px;
}

.imgTextContent {
  display: flex;
}

.pencilDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pencil {
  width: 10px;
  height: 30px;
  background: rebeccapurple;
  position: relative;
  transform: rotate(30deg);
}

.pencil::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: rebeccapurple;
  top: -13px;
}

.pencil::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: rebeccapurple;
  left: 1px;
  bottom: -4px;
  transform: rotate(45deg);
}

.blackBox {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
}

.whiteBox {
  font-size: 15px;
  background-color: white;
  padding: 30px 30px 30px 30px;
  border-radius: 5px;
}

.handleEntryDeleteQuestion {
  margin: 10px 0 50px 0;
}

.confirm {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  background-color: red;
  padding: 5px 8px;
  border-radius: 5px;
}

.cancel {
  margin-right: 280px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  background-color: gray;
  padding: 5px 8px;
  border-radius: 5px;
}
